# ------------------------------------------------------------------------------------------
#   Redirect request to web folder
# ------------------------------------------------------------------------------------------
RewriteEngine on

RewriteCond %{REQUEST_URI} !web/
RewriteRule (.*) /web/$1 [L]

# ------------------------------------------------------------------------------------------
#   ASSETS AND FILES
# ------------------------------------------------------------------------------------------
RewriteBase /

# Brotli
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_URI} .*\.(css|js)
RewriteCond %{REQUEST_FILENAME}.br -s
RewriteRule ^(.+) $1.br
RewriteRule "\.css\.br$" "-" [T=text/css,E=no-brotli,E=no-gzip]
RewriteRule "\.js\.br$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]

# Gzip
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_URI} .*\.(css|js)
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.+) $1.gz
RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-brotli,E=no-gzip]
RewriteRule "\.js\.gz$" "-" [T=application/javascript,E=no-brotli,E=no-gzip]

<FilesMatch "\.(css|js)\.br$">
    # Prevent mime module to set brazilian language header (because the file ends with .br)
    RemoveLanguage .br
    Header set Content-Encoding br
    Header append Vary Accept-Encoding
</FilesMatch>

<FilesMatch "\.(css|js)\.gz$">
    Header set Content-Encoding gzip
    Header append Vary Accept-Encoding
</FilesMatch>

# Force text or pdf to be downloaded, not open in browser
AddType application/octet-stream .pdf .txt
# END Force Download

# ------------------------------------------------------------------------------------------
#   CACHING
# ------------------------------------------------------------------------------------------

Header unset Pragma
FileETag None
Header unset ETag

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

# Cache-Control Headers
<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz)$">
        #1month
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
    <FilesMatch "\\.(css)$">
        #1week
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>
    <FilesMatch "\\.(js)$">
        #1month
        Header set Cache-Control "max-age=2592000, private"
    </FilesMatch>
    <FilesMatch "\\.(html|htm)$">
    	# 24h
    	Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf|pdf|flv|mp3|ttf)$">
    <IfModule mod_expires.c>
        ExpiresActive on
        ExpiresDefault "access plus 20 weeks"
        Header set Cache-Control "public"
    </IfModule>
</FilesMatch>

<FilesMatch "\.(html|htm|xml|txt|xsl)$">
    Header set Cache-Control "max-age=86400, must-revalidate"
</FilesMatch>