{% extends 'index.twig' %}

{% block layout %}

	<div class="container">
		{% block content %}
			<h1>{{ __( 'This page is currently empty', 'brocooly' ) }}</h1>
		{% endblock %}
	</div>

{% endblock %}
