{% extends 'index.twig' %}

{% block layout %}

	{% block content %}
		<div class="container">
			<h1>{{ __( 'This page is currently empty', 'brocooly' ) }}</h1>
		</div>
	{% endblock %}

{% endblock %}
