{% if item.current %}

	<span class="duration-200 text-secondary hover:text-primary">
		{{ item.title }}
	</span>

{% else %}

	<a
		href="{{ item.link }}"
		{% if item.target %} target="{{ item.target }}" {% endif %}
		itemprop="url"
		class="duration-200 hover:text-secondary"
	>
		{{ item.title }}
	</a>

{% endif %}
