//
// --------------------------------------------------------------------------
// Mixins
// --------------------------------------------------------------------------
//
// Mixins allow you to define styles that can be re-used throughout your stylesheet.
// @see https://sass-lang.com/documentation/at-rules/mixin
//

// =============================================================================
// Include local fonts with font-face directive
//
// @example
// @include font-face('FontName', '../path/to/FontName', 'display', 'weight', 'style', 'exts');
// =============================================================================

@mixin font-face($name, $path, $display: 'swap', $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: '?',
		svg: '#' + str-replace($name, ' ', '_')
	);

	$formats: (
		otf: 'opentype',
		ttf: 'truetype'
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		// stylelint-disable function-url-quotes
		$src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-display: $display;
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
