{% extends 'layouts/app.twig' %}

{% block title %} {{ __('Blog', 'brocooly') }} | {{ site.name }} {% endblock %}

{% block content %}

	<div class="container">

		<h1>{{ __('Blog', 'brocooly') }}</h1>

		<div class="">
			{% for post in posts %}
				{% include '@post/preview.twig' %}
			{% else %}
				{{ __('There is nothing has been published yet', 'brocooly') }}
			{% endfor %}
		</div>

		{% include '@components/pagination.twig' with {
			pagination: posts.pagination
		} %}

	</div>

{% endblock %}
