{% extends 'layouts/blog.twig' %}

{% block title %} {{ __('Blog', 'brocooly') }} | {{ site.name }} {% endblock %}

{% block content %}

	<div class="grid gap-6 xl:grid-cols-2">

		<div class="col-span-full">

			<h1 class="mb-4 text-2xl font-bold">
				{{ blog.title }}
			</h1>

			{% include '@components/breadcrumbs.twig' with {
				current_title: blog.title
			} %}
		</div>

		{% for post in posts %}
			{% include '@post/preview.twig' %}
		{% else %}
			<div class="col-span-full">
				{{ __('There is nothing has been published yet', 'brocooly') }}
			</div>
		{% endfor %}

		<div class="col-span-full">
			{% include '@components/pagination.twig' with {
				pagination: posts.pagination
			} %}
		</div>

	</div>

{% endblock %}
