/**
 * --------------------------------------------------------------------------
 * Colors
 * --------------------------------------------------------------------------
 */
$primary: theme('colors.primary');
$secondary: theme('colors.secondary');
