<header
	class="w-full"
	id="header"
	role="banner"
	itemscope
	itemtype="http://schema.org/WPHeader"
>

	<a class="sr-only skip-link focus:not-sr-only" href="#content">
		{{ __('Skip to the content', 'brocooly') }}
	</a>

</header>
