{% extends 'layouts/blog.twig' %}

{% block title %} {{ __('Search results for %s', 'brocooly')|format(s) }} | {{ site.name }} {% endblock %}

{% block content %}

	<div class="grid grid-cols-2 col-span-3 gap-6">

		<div class="col-span-full">

			<h1 class="mb-4 text-2xl font-bold">
				{{ __('Search results for %s', 'brocooly')|format(s) }}
			</h1>

			{% include '@components/breadcrumbs.twig' with {
				current_title: __('Search results for %s', 'brocooly')|format(s)
			} %}
		</div>

		{% for post in posts %}
			{% include '@post/preview.twig' %}
		{% else %}
			<div class="col-span-full">
				{{ __('No results were found', 'brocooly') }}
			</div>
		{% endfor %}

		<div class="col-span-full">
			{% include '@components/pagination.twig' with {
				pagination: posts.pagination
			} %}
		</div>

	</div>

{% endblock %}
