/*
Adding print support. The print styles are based on the the great work of
Andreas Hecht in https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/.
*/

/* stylelint-disable */
@media print {

	// =============================================================================
	// 1 – Defining Side Borders and Font Sizes
	// =============================================================================

	/** Setting margins */
	@page {
		margin: 2cm;
	}

	#content {
		float: none;
		margin: 0;
		width: 100%;
	}

	/* Set font to 16px/13pt, set background to white and font to black.*/
	/* This saves ink */
	body {
		background: #fff !important;
		color: #000 !important;
		font: 13pt 'Georgia', 'Times New Roman', 'Times', serif !important;
		line-height: 1.3;
	}

	h1, .entry-title, .content-title {
		font-size: 22pt;
		font-weight: bold;
	}

	h2, h3, h4 {
		font-size: 14pt;
		margin-top: 25px;
	}

	// =============================================================================
	// 2 – Using Pagebreaks – Defining Pagebreaks
	// =============================================================================

	/* Defining all page breaks */
	a {
		page-break-inside: avoid;
	}

	blockquote {
		page-break-inside: avoid;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	table, pre {
		page-break-inside: avoid;

	}
	ul, ol, dl  {
		page-break-before: avoid;
	}

	// =============================================================================
	// 3 – The Handling of Links
	// =============================================================================

	/* Displaying link color and link behaviour */
	a:link, a:visited, a {
		background: transparent;
		color: #520;
		font-weight: bold;
		text-decoration: underline;
		text-align: left;
	}
	a[href^=http]:after {
		content:' < ' attr(href) '> ';
		font-size: 8pt;
	}
	a:after > img {
		content: '';
	}
	article a[href^="#"]:after {
		content: '';
	}
	a:not(:local-link):after {
		content:' < ' attr(href) '> ';
		font-size: 8pt;
	}

	// =============================================================================
	// 4 – Hiding Videos and Other iframes
	// =============================================================================

	/**
	 * Making intergated videos disappear, and removing the iframes' whitespace to zero.
	 */
	.entry iframe, ins {
		display: none;
		width: 0 !important;
		height: 0 !important;
		overflow: hidden !important;
		line-height: 0pt !important;
		white-space: nowrap;
	}
	.embed-youtube, .embed-responsive {
		position: absolute;
		height: 0;
		overflow: hidden;
	}

	// =============================================================================
	// 5 – Hiding Unnecessary Elements
	// =============================================================================

	/* Hiding unnecessary elements for the print */
	#header, #colophon, #respond, #post-navigation, #pagination, .comment-reply-link, .entry-footer, .widget-area, .edit-link, .more-link, {
		display: none !important;
	}


	// =============================================================================
	// 6 – Adding Messages Before and After Printing
	// =============================================================================

	/* Adding custom messages before and after the content */

}
/* stylelint-enable */
